# Configuración de la Base de Datos
DB_HOST=localhost
DB_NAME=
DB_USER=
DB_PASS=

# Configuración de la Aplicación
APP_URL=http://localhost/Sistema_de_Ventas_PHP/public
APP_TIMEZONE=America/La_Paz
APP_VERSION=1.6.2
APP_DEBUG=false

# Configuración de Mail (Opcional)
# IMPORTANTE: Usa una "Contraseña de Aplicación" de Google, no tu contraseña normal.
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="Sistema de Ventas"